.social-links {
    margin-top: 5px;
  }
  .social-links a {
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
  .social-links a:hover {
    background: #FFC107;
  }