@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Teko:wght@500;600&family=Tourney:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');

.App {
  font-family: 'Baloo 2', cursive;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 1rem;
  outline: none;
}

.dancingFont {
  font-family: 'Dancing Script', cursive;
}