.singleImage{
    width: 90%;
    height: 85%;
}
.imgContainer{
    display: flex;
    justify-content: flex-start; 
}
.info-product{
    background-color: whitesmoke;
    width: 450px;
}
@media screen and (max-width: 788px){
    .info-product{
        width: 268px;
        padding: 10px;
    }
    .col-img{
        width: 33.33%;
    }
    .singleImage{
        width: 100%;
        height: 200px;
        margin: 20px 0;
    }
}