@media screen and (max-width: 788px){
    .dash-nav{
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
        margin: 0 0 10px 0;
        border: 0;
        box-shadow: 3px 3px 5px 3px rgb(0 0 0 / 10%);
    }
    .dash-nav h5{
        color: #15222b;
        font-size: small;
        font-weight: 700;
    }
}